{% extends 'base.html' %}{% load i18n %}

{% block main %}
<div class="row-fluid">
	<div class="span9">
		{% for faq in faqs %}
			<h1><a href="{{faq.get_absolute_url}}">{{faq.translated.title}}</a></h1>
			<p>{{faq.translated.content|safe}}</p>
		{% endfor %}
	</div>
	<div class="span3">
		
	</div>
	
</div>
{% endblock main %}
