{% extends 'faq/view_meta.html' %}{% load i18n %}
{% block main %}
<div class="row-fluid">
	<div class="span12">
		<div class="faq">
			<h1>{{faq.translated.title}}</h1>
			{{faq.translated.content|safe}}
		</div>
	</div>
</div>
{% endblock main %}