{% load i18n %}
{% if members %}
{% for member in members %}
	<li><a href="{{member.get_absolute_url}}">{{member.translated.title}}</a></li>
{% endfor %}
{% else %}
<p>{% trans "No members could be found." %}</p>
{% endif %}